<h1>Ladder</h1>
<p>Imagine a ladder, with steps numbered from zero at the bottom to 10 at the top. The top of the ladder represents the best possible life for you and the bottom of the ladder represents the worst possible life for you. On which step of the ladder would you say you personally feel you stand at this time?

This so-called happiness ladder is famously used as a way to measure and compare happiness across the globe.</p>
<img src="https://images.unsplash.com/photo-1523216141-d703fd26be35?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="pic">
<%= link_to 'Climb the Ladder', "" %>